# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
.git
.qoder
.vscode
.claude
TASK_LOG.md
CLAUDE.md

repo